// Calendar Component
.calendar-container {
  position: relative;
  //width: calc(100% - 35px);
  width: calc(100% - 0px);

  .calendar-input {

    &:hover {
      cursor: pointer;

    }

    .chevron {
      color: $admin-primary;
      position: absolute;
      right: 5px;
      top: 10px;
      animation-duration: 0.15s;
      animation-name: rotate-90deg-on;
      transform: rotate(90deg);

      &.collapsed {
        color: $gray;
        animation-duration: 0.15s;
        animation-name: rotate-90deg-off;
        transform: rotate(0deg);

      }

      &:hover {
        cursor: pointer;

      }

    }

  }

  .monthSelector {
    text-align-last: center;

    option {
      direction: rtl;

    }

  }

  input {
    background: $input-bg !important;

    &:focus {
      box-shadow: none;

    }

    &:hover {
      cursor: pointer;

    }

  }

  .close {
    outline: none !important;
    font-size: 1em;

  }


  .calendar-popup {
    background: $input-bg !important;
    //display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    max-width: 350px;
    z-index: 1000;
    border-top: none !important;
    border: 1px solid $clearlightcyan;
    border-radius: 0;
    animation-duration: 0.15s;
    animation-name: opacity-fade-out;
    opacity: 0;
    display: none;

    &.open {
      animation-duration: 0.15s;
      animation-name: opacity-fade-in;
      opacity: 1;
      display: block;
    }
    &.close {
    }

    .table {
      margin-bottom: 0;

      thead {
        border-bottom: 3px solid $lightgray;

        &:first-child {

          th {
            border-top: none;

            .selector {
              //margin-left: 1em;
              //margin-right: 0;
              //width: calc(50% - 2em);

              &.selector {
                //margin-left: .5em;
                //margin-right: 1em;

              }

            }

          }

        }

        .month-year-container {
          background-color: $clearlightcyan;
          padding: 0 1.15rem;

          .month_nav {
            color: $gray;
            font-size: 2em;
            -webkit-transition: all .5s;
            transition: all .5s;

            &:hover {
              color: $admin-primary;

            }

          }

          .cannot-select {
            font-weight: normal;
            color: $admin-primary;
            font-size: 1.3em;

          }

          .selector {
            -webkit-transition: all .5s;
            transition: all .5s;

            span {
              background-color: transparent !important;
              font-weight: normal;
              color: $admin-primary;
              top: 6px;
              position: relative;
              font-size: 1.3em;

            }

          }

          select::-ms-expand {
            display: none;
          }

          select {
            background-color: transparent;
            font-weight: normal;
            color: $admin-primary;
            font-size: 1.3em;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-ms-expand {
              display: none;

            }

            .option {
              background-color: transparent;
              border: none;

            }

          }

        }

        .days-container {

          th {
            color: $admin-primary;
            text-transform: uppercase;
            font-weight: 400;

          }

        }

      }

      tbody {
        -webkit-transition: all .5s;
        transition: all .5s;

        td {

          span {
            padding: 0.45rem;
            border: none;
            font-weight: 600;
            color: $gray;
            border-radius: 50%;
            min-width: 35px;
            float: left;
            -webkit-transition: background .1s, opacity 0.5s;
            transition: background .1s, opacity 0.5s;

          }

          &.off-month {

            span {
              opacity: 0.3;

            }

          }

          &:hover {

            span {
              background-color: $lightgray;
              color: $admin-primary;
              opacity: 1;
            }

          }

          &.active {

            span {
              background-color: $admin-primary;
              color: $white;

            }

          }

        }

      }

      tr {
        border: none;

        &.compact {

          th,
          td {
            padding: 0.25rem;
            border: none;

          }

        }

        th {
          border: none;
          a.month_nav {
            cursor: pointer;

          }

        }
        td {
          border: none;
          cursor: pointer;

        }

      }

    }

  }

}

.vdatetime-popup {

  .vdatetime-popup__header {
    background-color: $admin-primary;

  }

  .vdatetime-month-picker__item--selected,
  .vdatetime-year-picker__item--selected,
  .vdatetime-popup__actions__button {
    color: $admin-primary;

  }

  .vdatetime-calendar__month__day--selected {

    span {

      span {
        background-color: $admin-primary;

      }

    }

  }

}
