.card {

  .card-header {
    font-size: 1.1em;
    padding: 0.15rem 1.25rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.13);

  }

  .card-body {
    font-size: 1.4em;

  }

  .card-footer {
    padding: 0.15rem 1.25rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.13);

  }

}
