// AdminForm Component
.form-group, .filter-form {

  .col-form-label {
    color: $gray;
    font-size: 1.05em;

  }

  .input-group {
    min-height: 2.3rem;
    border-width: 0 0 1px 0;
    border-color: $gray;
    border-style: solid;
    width: 100% !important;

    &.read-only {
      border-color: $lightergray;

    }

    input,
    textarea,
    select,
    switch,
    .multi-select-container {
      border: none;
      box-shadow: none;
      color: $dark;

    }

    input,
    textarea,
    select,
    .multi-select-container {

      &.readonly {
        background-color: $lightgray !important;

        &:hover {
          cursor: auto;

        }
      }

    }
    .custom-file-label {
      border: none;

      &:after {
        background: none;
        border: none;

      }

    }

    .input-group-text {
      border: none;

    }

  }

  &.is-invalid {

    .input-group {
      border-color: $danger;

    }

    .form-control, input {
      box-shadow: none;
      outline-color: none;
    }

    .is-invalid-icon {

      .input-group-text {
        background: none;
        display: flex;

      }

    }

  }

  &.is-valid {

    .input-group {
      border-color: $success;

    }

  }

  &.is-warning {

    .input-group {
      border-color: $warning;

    }

  }

  &.input-type-texarea,
  &.input-type-checkbox,
  &.input-type-radio,
  &.input-type-switch {

    .input-group {
      border: none;
      box-shadow: none;

    }

  }

  &.form-group-file {

    > div {
      flex-direction: column !important;
    }

    .input-group {
      //padding-bottom: 10px;

    }

  }

  &.input-type-checkbox {

    .input-group {
      //margin-top: 2rem;
      //padding: 0 1.5rem;
    }

    label {
      align-self: center;
      font-size: 1.1em;
      color: $gray;
      padding: 0.2rem 0 0 0.5rem;

      &:before {
        border-radius: 0;
        background-color: $white;
        border: 1px solid $admin-primary;
        width: 1.3rem;
        height: 1.3rem;
        top: 50%;
        transform: translateY(-50%);

      }

      &:after {
        width: 1.3rem;
        height: 1.3rem;
        top: 50%;
        transform: translateY(-50%);
        //background-color: rgba($darkcyan, 0.3);

      }

    }

    .custom-control-input:checked ~ .custom-control-label::before {
     background-color: $admin-primary;

    }

  }

  &.form-group-radio {

    .input-group {

      .custom-control{

        .custom-control-label {

          &:before {

          }

          &:after {
            background-color: $gray;
            border-radius: 50%;

          }

        }

      }

    }

  }

  .is-invalid-icon {

    .input-group-text {
      background: none;
      display: none;

    }

  }

  .invalid-feedback {
    font-size: 12px !important;

  }

  .help-text {
    color: $gray;

  }

  .form-control:disabled,
  .form-control[readonly],
  .input-group > .form-control-plaintext {
    background: none;
    opacity: 1;
  }

  input:focus {
    outline: none;
  }

}

.custom-checkbox {

  .custom-control-label {

    &:before {

    }

    &:after {
      background-color: $gray;

    }

  }
}


.miniature-container {
  width: calc(20% - 0.5rem);
  min-height: 205px;

  .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
    font-size: 1.1em;
  }

  &:hover {
    .close-button {
      opacity: 1;
      cursor: pointer;
    }
  }

}

.ck {

  &.ck-editor {
    width: 100% !important;
    margin-top: 10px !important;
  }

  &.ck-content {
    min-height: 400px;
    color: black;

  }

}

.read-only {
  .input-group {
    border-color: $lightergray;
  }
}
