

#admin_layout,
#loginPage {
  background-color: $clearlightcyan;

  #navbar {
    background-color: $admin-primary !important;
    color: $white !important;

    .navbar-brand {
      background-color: $white;
      width: 52px;
      min-width: 52px;
      border-bottom: 1px solid $lightgray;
      -webkit-transition: width .5s, max-width .5s;
      transition: width .5s, max-width .5s;

      img {
        height: 48px;

      }

      &.expanded {
        width: 16.66667%;
        max-width: 16.66667%;
        -webkit-transition: width .5s, max-width .5s;
        transition: width .5s, max-width .5s;
      }

      .logo-expanded {
        max-width: 55% !important;

      }

      .logo-collapsed {
        max-width: 85% !important;

      }

    }

    #sidebarToggler {

      a, img {
        width: 38px;
        fill: $white;

      }

    }

    .user-menu {

      a {

        span {
          color: $white;

        }

        &:after {
          color: $white;

        }

      }

    }

  }

  #sidebar {
    background-color:  $white;
    position: relative;

    .admin_menu {

      .menu-item {
        width: 100%;
        float: left;
        padding: .5rem 1rem;
        max-height: 2.5rem;
        overflow: hidden;
        color: $gray;
        -webkit-transition: all .5s;
        transition: all .5s;
        animation-duration: 0.2s;
        animation-name: menu-hover-off;

        &:hover {
          color: $admin-primary !important;
          animation-duration: 0.2s;
          animation-name: menu-hover-on;
          background-color: $lightgray !important;
          text-decoration: none;
          cursor: pointer;

        }

        &.active {
          color: $admin-primary !important;
          background: none;
        }

        &.router-link-exact-active {
          color: $white !important;
          background-color: $admin-primary !important;
          animation: none;

        }


        .menu-item-icon {
          font-size: 1.3em;

        }

        .menu-item-text {
          margin-left: 1rem;
          font-size: 1em;
          font-weight: 700;

        }

        .chevron {
          font-size: 1.3em;
          animation-duration: 0.15s;
          animation-name: rotate-90deg-on;
          transform: rotate(90deg);
        }

        &.expanded {

          a {
            padding-left: 3.5rem;

          }

        }

        a {


        }

        &.parent {

          a {
            color: $admin-primary;

          }

        }

        &.collapsed {

          a {
            color: $gray;

          }

          .chevron {
            animation-duration: 0.15s;
            animation-name: rotate-90deg-off;
            transform: rotate(0deg);

          }

        }

      }

      .subchilds {
        -webkit-transition: all .5s;
        transition: all .5s;
      }

      .subchild {

        .expanded {

          a {
            padding-left: 4.5rem;

          }

        }

      }


    }

    .logo-menu {
      width: calc(100% - 10px);
      max-width: 150px;

      img {
        width: 100%;

      }
    }

  }

  .widget-container {
    background-color: $white;
    border-radius: 0;

    .widget-header {
      padding: 1rem 1.25rem 0.5rem;
      margin-bottom: 0.8rem;
      border-bottom: 1px solid $lightgray;

      span {
        color: $admin-primary;
        font-weight: 600;
        font-size: 1.1em;

      }

    }

    .widget-body {
      padding: 0 1.25rem 1.5rem;

    }

  }

  .box {
    background-color: $white;
    color: $admin-primary;
    padding: 3rem;
    //h1, h2, h3, h4, h5 {
    //  padding: 3rem 3rem 0;
    //}

  }

}

#loginPage {

  .form-actions {

    .col {
      left: 50%;
      transform: translateX(-50%);

    }

  }

  .card {
    border: none;
    border-radius: 0;

    .widget-body {
      max-width: 400px;
      margin: auto;

      .input-icon-left {

        .input-group-text {
          color: $admin-primary;

        }

      }

    }

  }

}

.btn {
  font-weight: bold;

  &.btn-admin {
    color: $white;
    background-color: $admin-primary;

    &:hover {
      background-color: $darkercyan;
      border-color: $darkercyan;
    }

  }

  &.btn-admin-clear {
    background-color: $white;
    color: $admin-primary;
    border-color: $admin-primary;

    &:hover {
      color: $darkercyan;
      border-color: $darkercyan;

    }

  }

  &.active,
  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;

  }

}

select {

  option {
    color: $gray;
    font-weight: 600;

    &:hover {
      background-color: $lightgray;
      color: $admin-primary;
      cursor: pointer;

    }

  }

}

.modal-backdrop {
  opacity: 0.5 !important;

  &.fade {
    opacity: 0 !important;
  }

  &.show {
    opacity: 0.5 !important;

  }

}
