// AdminMessages Component
#messages-container {

  .alert {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.15rem 1.25rem;
    border-radius: 0;
    border: none;

    &.alert-danger {
      background-color: $danger;

    }

    &.alert-warning {
      background-color: $warning;

    }

    &.alert-info {
      background-color: $info;

    }

    &.alert-success {
      background-color: $success;

    }

    span {
      color: $white;
      font-size: 0.8em;
      font-weight: 600;
      vertical-align: middle;

    }

    .icon {
      color: $white;
      font-size: 1em;
      margin-right: 0.15rem

    }

    button {
      padding: 0 1.25rem;
      color: $white;
      top: 50%;
      transform: translateY(-50%);

    }

  }

}
