// Tabs
.tabs {
  margin-top: -5px;

  .nav-tabs {

    li {
      font-size: 1.2em;

      a {
        border-bottom: 2px solid transparent;
        color: $gray;
        border-top: none;
        border-left: none;
        border-right: none;

        &.active,
        &:hover {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $admin-primary;
          color: $admin-primary;

        }

      }

    }

  }

  .tab-content {

    .tab-pane {
      min-height: 400px;

    }

  }

}
