// ToggleSwitch Component

.switch {
  .input-group {
    border: none !important;

  }

}
.toggle-switch-container {

  ul {
    list-style: none;
    height: 40px;

    li {
      text-align: center;
      max-width: 185px;

      label {
        font-weight: bold;
        color: $admin-primary;
        background-color: $white;
        padding: 4px;
        transition: all 0.4s ease 0s;
        border-color: $admin-primary;
        font-size: 1em;

      }

      .selected {
        color: $white;
        background-color: $admin-primary;
        border: none !important;
        transition: all 0.4s ease 0s;

      }

    }

  }

  .toggle-switch {
    padding: 0px;
    margin: 0px;
    display: inline-flex;
  }

  .square li:first-child label {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
  }
  .square li:last-child label {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
  }

  .toggle-switch li {
    position:relative;
  }

  .toggle-switch li:first-child label {
    border: 1px solid;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .toggle-switch li:last-child label {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .toggle-switch label, .toggle-switch input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .toggle-switch input[type="radio"] {
    opacity:0.01;
    z-index:100;
  }

  .toggle-switch li:not(:first-child):not(:last-child) label {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .active {
    cursor: pointer;
  }
}
