// Zoom On Hover
.zoom-on-hover {
  position: relative;
  overflow: hidden;

  .normal {
    width: 100%;
  }

  .zoom {
    position: absolute;
    opacity: 0;
    transform-origin: top left;
  }

  .image-zoom {
    max-width: 650px;

    &:hover {
      cursor: zoom-in;
    }
  }

  .orientation-normal{
    transform: rotate(0deg);
  }
  .orientation-left{
    transform: rotate(90deg);
  }
  .orientation-back{
    transform: rotate(180deg);
  }
  .orientation-right{
    transform: rotate(270deg);
  }

}
